.registration__wrapper {
  height: 100vh;
  @include flex-column-center;
}

.registration {
  height: min-content;
  @include form-auth-registration;
}

.registration__form {
  width: 100%;  
  min-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
