.link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  color: $blue;
  text-decoration: none;
  transition: .3s ease all;

  &:hover {
    text-decoration: underline;
    transition: .3s ease all;
  }
}
